

/* -------- Top Navigation -------- */

.navbar-brand {
    margin-left: 330px;
}


.navbar-brand :hover {
    opacity: 40%;
}

.navbar {
    background-color: black;
    opacity: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: fixed;
    z-index:1; 
}

.logo-image {
    width: 50px;
    height: 50px;
  }

.nav-item{
    padding-right: 55px;
    padding-left: 55px;
}

.nav-link {
    font-family: Ubuntu;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #dadada;
}

.active {
    color: #ffffff;
    font-weight: bold;
}

.nav-link :hover {
    color: #dadada;
    opacity: 40%;
}


/* --------- Background Image --------*/

body, html {
    height: 100%;
    margin: 0;
  }

.bg1 {
    /* The image used */
    background-image: url("../Assets/Images/Homepage/smoke_dark_slow.gif");
      
    /* Full height */
    height: 100%;
      
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* -------- Text-Styles -------- */

.bodytextblack {
    float: left;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: regular;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}


.bodytextwhite {
    float: left;
    text-align: left;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}


.bodytextwhite-right {
    float: right;
    text-align: left;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
}

.heading1light {

    margin-bottom: 30px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
}


.heading1light-right {
    float: left;
    margin-left: 100px;
    margin-bottom: 30px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
}


.heading1dark {
   
    margin-bottom: 30px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
}



/* -------- Image-Styles -------- */

.images {
    
    width: 50%;
    min-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 400px;
}
